{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {lager_extra_sinks, [dps]},
    report,
    verbose,
    warn_deprecated_function,
    warn_deprecated_type,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_untyped_record,
    warn_unused_import
    ]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [
    export_all,
    nowarn_untyped_record,
    nowarn_export_all
]}.

{relx, [{release, {"dpserv_1","0.1"}, [dpserv]}
       ,{dev_mode, true}
       ,{include_erts, false}
       ,{extended_start_script, true}
       ,{vm_args, "config/vm_prod.args"}
       ,{sys_config, "config/sys.config"}
       ,{include_src, false}
    ]}.

{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}}
       ,{lager , {git, "git://github.com/basho/lager", {tag, "3.2.4"}}}
       ,{jiffy , {git, "git://github.com/davisp/jiffy", {branch, "master"}}}
       ,{iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2.2"}}}
       ]}.
