[{dpserv, [
    {srv_dir,"/srv/web/adv_dev"}
    ]}
,{lager, [
    {log_root, "./log"},
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "error.log"}, {level, error},{size,10485760},{count,5}]},
        {lager_file_backend, [{file, "console.log"}, {level, info},{size,10485760},{count,5}]}
        ]},
    {extra_sinks,
        [{dps_lager_event,
            [{handlers, [
              {lager_console_backend, debug},
              {lager_file_backend, [{file, "dps_error.log"}, {level, error}, {date, "$W0D23"} ,{count,10}]},
              {lager_file_backend, [{file, "dps_console.log"}, {level, info}, {date, "$W0D23"} ,{count,10}
                                   ,{formatter, lager_default_formatter}
                                   ,{formatter_config, [date, " ", time, " ", sev, " ", message, "\n"]}]}
              ]}
            ,{async_treshold, 500}
            ,{async_treshold_window,60}]
         }]}
    ]}
].
