[{dpserv, [
    {srv_dir,"/srv/web/adv_dev"}
    ]}
,{lager, [
    {log_root, "./log"},
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "error.log"}, {level, error}]},
        {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]},
    {extra_sinks,
        [{dps_lager_event,
            [{handlers, [
              {lager_console_backend, debug},
              {lager_file_backend, [{file, "dps_error.log"}, {level, error}]},
              {lager_file_backend, [{file, "dps_console.log"}, {level, info}]}
              ]}
            ,{async_treshold, 500}
            ,{async_treshold_window,60}]
         }]}
    ]}
].
